body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f4f7;
  color: #333;
  overflow-y: auto;
}

#p5-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.container {
  max-width: 700px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow-y: auto;
}

h1 {
  font-size: 2.5em;
  color: #4a7dbf;
  margin-bottom: 20px;
  font-weight: bold;
}

.intro {
  font-size: 1.5em;
  color: #4a7dbf;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

a {
  color: #4a7dbf;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #305b8f;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.square {
  width: 48%;
  max-width: 220px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.4s, box-shadow 0.4s;

  
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Force square */
  overflow: hidden; /* Hide overflow */
  display: flex;
  align-items: center;
  justify-content: center;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the square while keeping its aspect ratio */
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.1em;
  margin: 10px 0;
}

.footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #777;
}

.highlight {
  color: #4a7dbf;
  font-weight: bold;
}

.emphasis {
  font-size: 1.2em;
  color: #4a7dbf;
  margin-top: 20px;
}
